# Binary files
Binaries/

# Config files
Config/

# Content files
Content/

# Derived data cache
DerivedDataCache/

# Intermediate files
Intermediate/

# Package files
Package/

# Platforms files
Platforms/

# Saved data and logs
Saved/

# Build artifacts
Build/

# Visual Studio and IDE-specific files
.vsconfig
.vs/
.vscode/
.idea/
*.sln
*.suo

# Unreal Project
*.uproject

# Engine files (if the project is in the engine root)
Engine/